@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nguyen Hoai Nam</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">K23CNT1_2310900073</a>.</p>
</div>
