@model NguyenHoaiNam_2310900073.Models.NhnEmployee

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>NhnEmployee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NhnEmpId" class="control-label"></label>
                <input asp-for="NhnEmpId" class="form-control" />
                <span asp-validation-for="NhnEmpId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NhnEmpName" class="control-label"></label>
                <input asp-for="NhnEmpName" class="form-control" />
                <span asp-validation-for="NhnEmpName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NhnEmpLevel" class="control-label"></label>
                <input asp-for="NhnEmpLevel" class="form-control" />
                <span asp-validation-for="NhnEmpLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NhnEmpStartDate" class="control-label"></label>
                <input asp-for="NhnEmpStartDate" class="form-control" />
                <span asp-validation-for="NhnEmpStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NhnEmpStatus" class="control-label"></label>
                <input asp-for="NhnEmpStatus" class="form-control" />
                <span asp-validation-for="NhnEmpStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
